{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}

<style>
  .center {
    margin-left: 270px;
    margin-top: 15px;
    width: 85%;
    border: 3px solid white;
    padding: 460px;
    border-radius: 10px;
    background-color: white;
  }
</style>
{% endblock %}

{% block body %}

<div class="card center">
  
</div>

{% endblock %}