
<style>
    :root {
        --w-sidebar: 260px;
        --color-0c: #f0e8fc;
        --color-1c: #E9DFFB;
        --color-2c: #190934;
        --color-3c: #190934;
        --color-4c: #190934;
        --color-5c: #190934;
      }
      
      * {
        box-sizing: border-box;
      }
      
      html, body {
        margin: 0;
        padding: 0;
        font-family: 'Inter', open-sans;
        font-size: 18px;
      }
      
      .wrapper {
        display: flex;
      }
      
      #sidebar {
        width: var(--w-sidebar);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
        z-index: 999;
        background-color: #fff;
        color: var(--color-4c);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.2s;
      }
      
      #sidebar.active {
        margin-left: -260px;
      }
      
      nav.right div.top {
        position: relative;
        margin: 0;
        padding: 0 12px;
        min-height: 73px;
        list-style-type: none;
        border-bottom: 1px solid var(--color-1c);
      }
      
      nav.right div.top .card {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        display: flex;
        align-items: center;
      }
      
      nav.right div.top .card .image {
        width: 50px;
        height: 50px;
      }
      
      nav.right div.top .card .image img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
      
      nav.right div.top .card .text {
        font-weight: 400;
        margin-left: 12px;
      }
      
      nav.right div.top .card .text .name {
        font-weight: 500;
        font-size: 0.9rem;
      }
      
      nav.right div.top .card .text .job {
        display: block;
        color: var(--color-2c);
        margin-top: 2px;
        font-size: 0.7rem;
      }
      
      nav.right div.container-menu {
        margin-top: 42px;
        overflow-y: auto;
        height: 100%;
      }
      
      nav.right ul.menu {
        padding: 0 8px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
      }
      
      nav.right ul.menu li a {
        display: block;
        color: var(--color-5c);
        text-decoration: none;
        padding: 16px 18px;
      }
      
      nav.right ul.menu li a:hover {
        color: #fff;
        background-color: var(--color-2c);
        border-radius: 6px;
      }
      
      nav.right ul.menu li a:hover > i {
        color: var(--color-1c);
      }
      
      nav.right ul.menu li a > i {
        color: var(--color-4c);
        margin-right: 10px;
      }
      
      nav.right ul.menu li a[data-toggle="dropdown"] {
        position: relative;
      }
      
      nav.right ul.menu li a[data-toggle="dropdown"]::after {
        content: '\25BE';
        color: var(--color-3c);
        display: block;
        position: absolute;
        top: 50%;
        right: 18px;
        font-size: 1rem;
        transform: translateY(-50%);
      }
      
      nav.right div.bottom {
        /*position: absolute;
        left: 0;
        bottom: 0;*/
        width: 100%;
        padding: 8px 12px;
        color: white;
        margin-top: auto;
        background: var(--color-2c);
      }
      
      /*Dropdown*/
      
      .dropdown-content {
        position: relative;
        min-width: 100%;
        background: #fff;
        display: none;
      }
      
      nav.right ul.menu li > div.dropdown-content a {
        color: var(--color-3c);
        font-size: 0.9rem;
        padding: 10px 18px;
        margin-left: 28px;
      }
      
      nav.right ul.menu li > div.dropdown-content a:hover {
        color: var(--color-4c);
        background-color: #fff;
      }
      
      nav.right ul.menu li:hover a.nav-link {
        color: #fff;
        background-color: var(--color-2c);
        border-radius: 6px;
      }
      
      nav.right ul.menu li:hover a.nav-link i {
        color: var(--color-1c);
      }
      
      nav.right ul.menu li:hover a[data-toggle="dropdown"]::after {
        color: var(--color-1c); 
      }
      
      .show {
        display: block;
        -webkit-animation: fade-in 0.5s linear;
        -moz-animation: fade-in 0.5s linear;
        -o-animation: fade-in 0.5s linear;
        animation: fade-in 0.5s linear;
      }
      
      /*Content*/
      
      #content {
        width: calc(100% - var(--w-sidebar));
        min-height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-0c);
        transition: all 0.3s;
      }
      
      #content.active {
        width: 100%;
      }
      
      #content nav.top {
        padding: 0 8px;
        height: 72px;
        display: flex;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
      }
      
      a.btn {
        border: none;
        border-radius: 6px;
        padding: 6px 12px;
        margin: 0 6px;
        font-size: 1.2rem;
        font-weight: 300;
        text-decoration: none;
      }
    
      a.btn.primary {
        background-color: var(--color-2c);
        color: white;
      }
      
      
</style>

<div class="wrapper">
    <nav class="right" id="sidebar">
      <div class="top">
          <div class="text">
            <span class="name">Olá, {{ app.user.username }}</span>
          </div>
      </div>
  
      <div class="container-menu">
        <ul class="menu">
          <li>
            <a href="{{ path('admin_dashboard_index')}}" class="nav-link"><i class="bi bi-collection"></i>Dashboard</a>
          </li>
          <li>
            <a href="#" class="nav-link" data-toggle="dropdown" data-menu="dashboard"><i class="bi bi-grid-1x2"></i>Usuários</a>
            <div id="dashboard" class="dropdown-content">
              <a href="{{ path('admin_user_index') }}">Usuários do Sistema</a>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="bottom">
        <span>Logout</span>
      </div>
    </nav>

  </div>

<script type="text/javascript">
    $(document).ready(function(){

    let ele =  document.querySelectorAll("[data-toggle='dropdown']");
    var dropdowns = document.getElementsByClassName("dropdown-content");
    let sidebar = document.querySelector('#btn-sidebar');
    
    Array.from(ele).forEach(function(elem) {
      elem.addEventListener('click', function() {
        let attribute = this.getAttribute("data-menu");
        
        hide_dropdown(attribute);
        
        document.getElementById(attribute).classList.toggle("show");
      });
    });
    
    window.onclick = function(event) {
      if (!event.target.matches('.nav-link')) {
    
        Array.from(dropdowns).forEach(function(elem) {
          if (elem.classList.contains('show')) {
            elem.classList.remove('show');
          }
        });
      }
    }
    
    function hide_dropdown(attribute) {
      Array.from(dropdowns).forEach(function(elem) {
        let id = elem.getAttribute("id");
        
        if (id !== attribute) {
          if (elem.classList.contains('show')) {
            elem.classList.remove('show');
          }
        }
      });
    }
});

</script>
